@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html, body {
    @apply h-full overflow-hidden bg-[#F9FAFB];
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }

  #root {
    @apply h-full;
  }
}
